<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <h1 class="center">Welcome!</h1>
    </div>
    <div class="col col-md-12 center">
      <p>To discover all of the repos, both public and private, that you have please click login.</p>
      <p>You will be authenticated via GitHub and taken to your dashboard.</p>
      <p>There you will see lists of your private and public repos.</p>
    </div>
    <div class="col col-md-2 login-card center">
      <%= link_to "Login", github_login_path %>
    </div>
  </div>
</div>
